<%- content_for :title, 'Lista de laboratoristas'%>

<div class="box row">
  <div class="medium-12 large-12 columns">
    <div class="block table">
      <div class="title-block">
        <h3>Lista de laboratoristas</h3>
        <div class="right-section">      
          <%= link_to 'Nuevo laboratorista', new_laboratory_path, :class => "small success button" %>
        </div>
      </div>
      <div class="content-block">
        <table class="responsive">
          <thead>
            <tr>
              <th>Nombre laboratorista</th>
              <th>Nombre usuario</th>
              <th>Correo eletrónico</th>
              <th>Teléfono</th>
              <th class="date">Creado en</th>
              <% if Laboratory.can_edit(current_user) %>
                <th class="actions">Acciones</th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @laboratories.each do |laboratory| %>
              <tr>
                <td><%= link_to laboratory.name, laboratory  %></td>
                <td><%= laboratory.login %></td>
                <td><%= laboratory.email %></td>
                <td><%= laboratory.phone %></td>
                <td><%= laboratory.created_at.strftime(@date_format) %></td>
                <% if Laboratory.can_edit(current_user) %>
                  <td>
                    <%= link_to 'Editar', edit_laboratory_path(laboratory), :class => "tiny button" %>
                    <%= link_to 'Eliminar', laboratory, method: :delete, data: { confirm: 'Esta seguro?' }, :class => "tiny button destroy" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8">
                <span class="total">
                  <%= @laboratories.count > 0 ? "Total : #{@laboratories.count}" : "Sin resultados" %>  
                </span>
                <%= paginate @laboratories %>  
              </td>
            </tr>
            
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  
</div>
