<div class="box row">
  <div class="medium-12 large-12 columns">
    <div class="block">
      <div class="title-block">
        <h3>Información de laboratorista</h3>
      </div>
      
      <div class="content-block">
        
        <h4>Información de laboratorista</h4>
        <hr/>
        <p>
          <strong>Nombre médico:</strong>
          <%= @laboratory.name %>
        </p>

        <p>
          <strong>Nombre usuario:</strong>
          <%= @laboratory.login %>
        </p>

        <p>
          <strong>Correo electrónico:</strong>
          <%= @laboratory.email %>
        </p>

        <p>
          <strong>Teléfono:</strong>
          <%= @laboratory.phone %>
        </p>


        <div class="button-actions">
          <%= link_to 'Editar', edit_laboratory_path(@laboratory), :class => "from-button success button" %> 
          <%= link_to 'Lista de laboratoristas', laboratories_path, :class => "from-button button" %>
        </div>
      </div>
    </div>
  </div>

  
</div>
