<%- class_content = order.paid ? "content-block approved" : "content-block pending" %>
<div class="<%= class_content%>">
  <div class="row">
    <div class="small-8 medium-9 large-9 columns ">
      <strong>
        <%= link_to order.patient.full_name, order_path(order.patient.id,order), :class => "description" %>  
      </strong>
    </div>
    <div class="small-4 medium-3 large-3 columns text-right color-grey">
      <%= time_ago_in_words(order.created_at)%>
    </div>
    
  </div>

  <div class="row info">
    <div class="medium-6 large-6 columns">
      
      <div class="row">
        <div class="medium-6 large-6 columns"><strong>Fecha: </strong></div>
        <div class="medium-6 large-6 columns"><%= order.date.strftime(@date_format)%></div>
      </div> 

      <div class="row">
        <div class="medium-6 large-6 columns"><strong>CI Paciente: </strong></div>
        <div class="medium-6 large-6 columns"><%= order.patient.ci %></div>
      </div>
    </div>

    <div class="medium-6 large-6 columns">
      
      <div class="row">
        <div class="medium-6 large-6 columns"><strong>Valor: </strong></div>
        <div class="medium-6 large-6 columns"><%= "$" + number_with_precision(order.total, :precision => 2) || 0  %></div>
      </div> 

      <div class="row">
        <div class="medium-6 large-6 columns"><strong>Nro. Examenes: </strong></div>
        <div class="medium-6 large-6 columns"><%= order.exam_number %></div>
      </div>
    </div>
  </div>

  <div class="row info">
    <div class="medium-6 large-6 columns">
      
    </div>

    <div class="medium-6 large-6 columns">
      
      <div class="row">
        <% if current_user.rol == 3 %>
          <div class="small-6 medium-6 large-6 columns"><%= link_to 'Editar', edit_order_path(order), :class => " tiny button" %></div>
          <div class="small-6 medium-6 large-6 columns"><%= link_to 'Eliminar', "/orders/" + order.id.to_s , method: :delete, data: { confirm: 'Esta seguro de eliminar el registro?' }, :class => "destroy tiny button"  %></div>
        <% elsif current_user.rol == 2 %>
          <div class="small-6 medium-6 large-6 columns"></div>
          <div class="small-6 medium-6 large-6 columns"><%= link_to 'Editar', edit_order_path(order), :class => " tiny button" %></div>
        <% else %>
          <div class="small-6 medium-6 large-6 columns"></div>
          <div class="small-6 medium-6 large-6 columns"><%= link_to 'Ver', order_path(order), :class => " tiny button" %></div>
        <% end %>
        
      </div> 

    </div>
  </div>



  

</div>