<%= form_for(@order) do |f| %>
  
   <fieldset class="row">
    <% if @order.errors.any? %>
      <div class="medium-12 large-12 columns">
        <div id="error_explanation">
          <div class="block">
            <div class="title-block error">
              <h3><%= "Atención!" %> </h2>
            </div>
            <div class="content-block">
              <ul class="list-error">
              <% @order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="medium-12 large-6 columns">
      <div class="block">
        <div class="title-block">
          <h3>Datos de la orden</h3>
        </div>
        
        <div class="content-block">

          <div class="quotation-info">
            <div class="row title">
            </div>
            <div class="row">
              <div class="large-3 columns">
                <%= f.label :note, "Notaciones para laboratorista", :class => 'col-lg-2 control-label' %>
              </div>
              <div class="large-9 columns">
                <%= f.text_area :note, :class => 'form-control' %>
              </div>
            </div>

            <div class="row">
              <div class="large-3 columns">
                <%= f.label :date, "Fecha orden", :class => 'col-lg-2 control-label' %>
              </div>
              <div class="large-9 columns">
                <%= f.date_field :date, :class => 'form-control1' %>
              </div>
            </div>


            <div class="row">
              <div class="large-3 columns">
                <%= f.label :priority, "Resultados emergentes", :class => 'col-lg-2 control-label' %>
              </div>
              <div class="large-9 columns">
                <%= f.check_box :priority, :class => 'form-control1' %>
              </div>
            </div>


            <div class="row title-midle">
              <div class="large-12 columns">
                <div class="border-bottom required">Exámenes de laboratorio</div>
                
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <%= f.fields_for :order_items do |order_item| %>
                  <%= render 'order_item_fields', f: order_item %>
                <% end %>
                <div class="links">
                  <%= link_to_add_association "Añadir examen", f, :order_items, :class =>"tiny button" %>
                </div>
              </div>
            </div>


            <div class="button-actions">            
              <%= f.submit "Guardar", :class =>"from-button success button", data: { confirm: 'Esta seguro de enviar los datos de la orden?', disable_with: "Por favor espera..." } %>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="medium-12 large-6 columns">
      <div class="block">
        <div class="title-block">
          <h3>Datos del paciente</h3>
        </div>
        
        <div class="content-block">

          <div class="company-info">
            <div class="row title">
              
            </div>

            <div class="row">
              <div class="large-3 columns">
                <%= f.label :patient_id, "Paciente", :class => 'col-lg-2 control-label required' %>
              </div>
              <div class="large-9 columns">

                <input type="text" id="myInput" onkeyup="myFunction()" autocomplete="off" placeholder="Buscar por nombre o C.I." value="<%= @order.patient.present? ? @order.patient.full_name_ci : ''%>" >
                <ul id="myUL">
                  <%- @all_patients.each do |patient| %>
                    <li>
                      <%= link_to patient.full_name_ci, patient_path(patient.id, format: "json"), class: "add", remote: true %>
                    </li>
                  <%- end %>
                </ul>
                <%= f.hidden_field :patient_id, :class => 'form-control1' %>
              </div>
            </div>


            <div class="row">
              <div class="large-3 columns">
                <label>Nombre:</label>
              </div>
              <div class="large-9 columns">
                <span id="patient_name"><%= @order.patient.present? ? @order.patient.full_name : "No aplica" %> </span>
              </div>
            </div>

            <div class="row">
              <div class="large-3 columns">
                <label>CI:</label>
              </div>
              <div class="large-9 columns">
                <span id="patient_ci"><%= @order.patient.present? ? @order.patient.ci : "No aplica" %></span>
              </div>
            </div>
            
            

          </div>
        </div>
      </div>

      <div class="block">
        <div class="title-block">
          <h3>Total orden</h3>
        </div>
        <div class="content-block">

          <div class="company-info">
            <div class="row title">
              <div class="large-12 columns">
                
                <div class="border-bottom">Resumen totales</div>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <i>El total es la suma de los valores de cada examen selecionado.</i>
              </div>

            </div>
            <br>

            <%- if current_user.rol == 2 || current_user.rol == 3 %>

              <div class="row">
                <div class="large-6 columns">
                  <%= f.label :paid, "Pagado", :class => 'col-lg-2 control-label' %>
                </div>
                <div class="large-3 columns">
                  <%= f.check_box :paid %>
                </div>
                <div class="large-3 columns">
                </div>
              </div>

            <% end %>


            <div class="row">
              <div class="large-6 columns">
                <label>TOTAL</label>
              </div>
              <div class="large-3 columns">
                <%= text_field_tag 'total','', :readonly => true %>
                <%= f.hidden_field :total, :class => 'form-control1' %>
              </div>
              <div class="large-3 columns">
              </div>
            </div>

          </div>
        </div>
      </div>

      <%- if current_user.rol == 1 || current_user.rol == 3 %>
        <div class="block">
          <div class="title-block">
            <h3>Datos de los resultados</h3>
          </div>
          <div class="content-block">
            <div class="quotation-info">
              
              <div class="row">
                <div class="large-3 columns">
                  <%= f.label :pdf_upload, "PDF ajunto", :class => 'col-lg-2 control-label' %>
                </div>
                <div class="large-9 columns">
                  <%= f.check_box :pdf_upload, :class => 'form-control' %>
                </div>
                
              </div>

              <div class="row">
                <div class="large-3 columns">
                  <%= f.label :pdf, "Adjuntar PDF", :class => 'col-lg-2 control-label' %>
                </div>
                <div class="large-9 columns">
                  <%= f.file_field :pdf, :class => 'form-control', :accept => "application/pdf" %>
                  <%= link_to "Ver PDF", "#" %>
                </div>
              </div>

              <!-- <div class="row">
                <div class="large-3 columns">
                  <%= f.label :pdf, "Resultados", :class => 'col-lg-2 control-label' %>
                </div>
                <div class="large-9 columns">
                  <%= f.text_field :pdf, :class => 'form-control1' %>
                </div>
              </div>
               -->
            </div>
          </div>
        </div>
      <% end %>

      <%- if (current_user.rol == 0 && @order.paid) || current_user.rol == 3 %>
        <div class="block">
          <div class="title-block">
            <h3>Datos del diagnostico</h3>
          </div>
          <div class="content-block">
            <div class="quotation-info">
              <div class="row">
                <div class="large-3 columns">
                  <%= f.label :diagnosis, "Diagnostico", :class => 'col-lg-2 control-label' %>
                </div>
                <div class="large-9 columns">
                  <%= f.text_area :diagnosis, :class => 'form-control' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </fieldset>
<% end %>


 <script>
  function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }

  function showUl(){
    $("#myUL").show();
  }

  function hideUl(){
    $("#myUL").hide();
  }


  top_s = $("#myInput").position().top;
  left = $("#myInput").position().left;
  width = $("#myInput").width();
  $("#myUL").css({top: top_s + 30, left: left, width: width + 62, position:'absolute'});
  $("a.add").on("ajax:success", addPatient);
  function addPatient(event, data) {

    $("#order_patient_id").val(data.id);
    $("#patient_ci").html(data.ci);
    $("#patient_name").html(data.last_name + " " + data.name);
    $("#myInput").val(data.last_name + " " + data.name + " - " + data.ci);
    hideUl();
  }

  $("#myInput").focus(function() {
    showUl();
    $("#myInput").val("");
  });

  $("#myInput").click(function() {
    showUl();
  });

  $("#myInput").focusout(function() {
    window.setTimeout(function() { hideUl(); }, 800);
  });


  hideUl();


</script>