<div class="q-item nested-fields well">
  <%- select_opts = options_from_collection_for_select(@all_exams, 'id', 'name') %>
  <%= f.collection_select(:exam_id, @all_exams, :id, :name, { :prompt => 'Selecione un examen'}, :class => "q-item-select" ) %>

  
  <div class="row">
		<div class="large-6 columns">

		  <div class="row">
		    <div class="large-8 columns">
		      <%= f.label :price, "Precio" %>
		    </div>
		    <div class="large-4 columns">
		    	<%- if f.object.exam_id.present? %>
		    		<% price = Exam.find(f.object.exam_id).tube.price %>
		    	<% else %>
		    		<% price = 0 %> 
		    	<% end %>
		      <%= f.text_field :price, :class => 'price', :value => number_with_precision(price,:precision => 2) || 0 %>
		    </div>
		  </div>

		</div>
	</div>

  <%= f.hidden_field :order_id, :value => @order.id %>
  <%= link_to_remove_association "Quitar examen", f %>
</div>
