  <%- content_for :title, 'Lista de ordenes'%>


<div class="box row">
  <div class="medium-12 large-12 columns">
    <div class="block table">
      <div class="title-block">
        <h3>Lista de ordenes</h3>
        <div class="right-section">
          <%- if current_user.rol == 3 || current_user.rol == 0 %>
            <%= link_to 'Nueva orden', new_order_path, :class => "small success button" %>
          <% end %>
        </div>
      </div>
      <div class="content-block">

        <table class="responsive">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>C.I</th>
              <th>Paciente</th>
              <th class="date">Creado en</th>
              <th>Total</th>
              <th>Resultados</th>
              <th>Etapa</th>
              <th>Pagado</th>
              <!-- <th>PDF</th> -->
              <th class="actions">Acciones</th>
            </tr>
          </thead>

          <tbody>
            <% @orders.each do |order| %>
              <%- class_row = "active"%>
              <%- class_row << " success" if order.paid %>
              <%- class_row << " warning" if !order.paid %>
              <tr class= "<%= class_row%>" >
                <td>
                  <%= order.date.strftime(@date_format) %>
                </td>

                <td>
                  <%= link_to order.patient.ci, order_path(order) if order.patient %>
                </td>

                <td><%= order.patient.full_name if order.patient %></td>
                <td><%= order.created_at.strftime(@date_format) %></td>
                <td><%= "PDF" %></td>
                <td><%= "$" + number_with_precision(order.total, :precision => 2) || 0  %></td>
                <td><%= order.status %></td>
                <td><%= order.paid ? "Si" : "No" %></td>
                
                <!-- 
                <%- if order.pdf %>
                  <td><%= link_to "Abrir PDF",  order.pdf.url if order.pdf %></td>
                <%- else%>
                  <td>-----</td>
                <%- end%> -->
                

                
                <td>
                  
                  <%= link_to 'Editar', edit_order_path(order), :class => (order.can_edit(current_user.rol)) ? "tiny button" : "tiny button disabled" %>

                  <%- if current_user.rol == 3 %>
                    <%= link_to 'Eliminar', "/orders/" + order.id.to_s , method: :delete, data: { confirm: 'Esta seguro?' }, :class => "destroy tiny button" %>
                  <%- end %>
                </td>
                

              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
                
              <td colspan="9">
                <span class="total">
                  <%= @orders.count > 0 ? "Total : #{@orders.count}" : "Sin resultados" %>  
                </span>
                <%= paginate @orders %>    
              </td>
            </tr>
            
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
  
</div>