<div class="box row">
  <div class="medium-12 large-12 columns">
    <div class="block">
      <div class="title-block">
        <h3>Informacion de orden</h3>
      </div>
      
      <div class="content-block">
        <p>
          <strong>Notaciones para laboratorista:</strong>
          <%= @order.note %>
        </p>

        <p>
          <strong>Fecha orden:</strong>
          <%= @order.date.strftime(@date_format) %>
        </p>

        <p>
          <strong>Paciente:</strong>
          <%= @order.patient.full_name_ci %>
        </p>

        <p>
          <strong>Etapa:</strong>
          <%= "Aprobada" %>
        </p>

        <hr>
        <p>
          <strong>Resumen totales</strong>
        </p>

        <p>
          <strong>Pagado</strong>
          <%= @order.paid? ? "Si" : "No" %>
        </p>

        <p>
          <strong>TOTAL</strong>
          <%= "$" + number_with_precision(@order.total, :precision => 2) || 0  %>
        </p>
        
        <hr>
        <p>
          <strong>Lista de exámenes</strong>
        </p>
        <% if @order.order_items.any? %>
          <ul>
            <% @order.order_items.each do |order_item| %>
              <li> <%= order_item.exam.name if order_item.exam.present? %> </li>
            <% end %>    
          </ul>
        <% else %>
          <p>No se encontraron exámenes</p>
        <% end %>
        <div class="button-actions">
          
          <%= link_to 'Editar', edit_order_path(@order), :class => "small success button" %>
          
          <%= link_to 'Lista de órdenes', orders_path, :class => "small button" %>
        </div>
      </div>
    </div>
  </div>
</div>
