<%= form_for(@tube) do |f| %>
  <fieldset class="row">
    <% if @tube.errors.any? %>
      <div class="medium-12 large-12 columns">
        <div id="error_explanation">
          <div class="block">
            <div class="title-block error">
              <h3><%= "Atención!" %> </h2>
            </div>
            <div class="content-block">
              <ul class="list-error">
              <% @tube.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="medium-12 large-12 columns">
      <div class="block">
        <div class="title-block">
          <h3>Informacion del tubo de muestra</h3>
        </div>
        
        <div class="content-block">

          <div class="row">
            <div class="large-2 columns">
              <%= f.label :code, "Código", :class => 'col-lg-2 control-label required' %>
            </div>
            <div class="large-10 columns">
              <%= f.text_field :code %>
            </div>
          </div>

          <div class="row">
            <div class="large-2 columns">
              <%= f.label :name, "Nombre", :class => 'col-lg-2 control-label required' %>
            </div>
            <div class="large-10 columns">
              <%= f.text_field :name %>
            </div>
          </div>

          <div class="row">
            <div class="large-2 columns">
              <%= f.label :price, "Precio", :class => 'col-lg-2 control-label' %>
            </div>
            <div class="large-5 columns">
              <%= f.number_field :price, :step => 0.01, :oninvalid => "this.setCustomValidity('Por favor introduzca un número valiado, ejemplo: 10.50')", :oninput => "setCustomValidity('')" %>
            </div>
            <div class="large-5 columns"></div>
          </div>

          <div class="actions">
            <%= f.submit "Guardar", :class => "success button from-button", data: { disable_with: "Por favor espera..." } %>
          </div>
        </div>
      </div>
    </div>


<% end %>

