<%- content_for :title, 'Lista de Muestras'%>

<div class="box row">
  <div class="medium-12 large-12 columns">
    <div class="block table">
      <div class="title-block">
        <h3>Lista de tubos de muestras</h3>
        <div class="right-section">      
          <%= link_to 'Nuevo Tubo', new_tube_path, :class => "small success button" %>
        </div>
      </div>
      <div class="content-block">
        <table class="responsive">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th class="date">Creado en</th>
              <th>Precio</th>
              <% if Tube.can_edit(current_user) %>
                <th class="actions">Acciones</th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @tubes.each do |tube| %>
              <tr>
                <td><%= tube.code %></td>
                <td><%= link_to tube.name, tube  %></td>
                <td><%= tube.created_at.strftime(@date_format) %></td>
                <td><%= tube.price %></td>
                <% if Tube.can_edit(current_user) %>
                  <td>
                    <%= link_to 'Editar', edit_tube_path(tube), :class => "tiny button" %>
                    <%= link_to 'Eliminar', tube, method: :delete, data: { confirm: 'Esta seguro?' }, :class => "tiny button destroy" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8">
                <span class="total">
                  <%= @tubes.count > 0 ? "Total : #{@tubes.count}" : "Sin resultados" %>  
                </span>
                <%= paginate @tubes %>  
              </td>
            </tr>
            
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  
</div>


