<div class="box row">
  <div class="medium-12 large-12 columns">
    <div class="block">
      <div class="title-block">
        <h3>Informacion de tubo de muestra</h3>
      </div>
      
      <div class="content-block">
				<p>
				  <strong>Código:</strong>
				  <%= @tube.code %>
				</p>

				<p>
				  <strong>Nombre:</strong>
				  <%= @tube.name %>
				</p>

				<p>
				  <strong>Precio:</strong>
				  <%= "$" + number_with_precision( @tube.price, :precision => 2) || 0 %>
				</p>

				<div class="button-actions">
					<% if Tube.can_edit(current_user) %>
						<%= link_to 'Editar', edit_tube_path(@tube),:class => "from-button success button" %> 
					<% end %>
					<%= link_to 'Lista de tubos', tubes_path,:class => "from-button button" %>					
				</div>
			</div>
		</div>
	</div>

</div>

