<%= form_for(@patient, html: { class: 'form-horizontal'})  do |f| %>
  <fieldset class="row">
    <% if @patient.errors.any? %>
      <div class="medium-12 large-12 columns">
        <div id="error_explanation">
          <div class="block">
            <div class="title-block error">
              <h3><%= "Atención!" %> </h2>
            </div>
            <div class="content-block">
              <ul class="list-error">
              <% @patient.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="medium-12 large-6 columns">
      <div class="block">
        <div class="title-block">
          <h3>Información de paciente</h3>
        </div>
        
        <div class="content-block">
          <div class="field form-group row">
            <div class="medium-12 large-6 columns">
              <%= f.label :ci, :class => 'col-lg-2 control-label required' %>
              <% if @patient.created_at.present? && current_user.rol < 3 %>
                <%= f.label @patient.ci, :class => 'form-control disabled-from' %>
              <% else %>
                <%= f.text_field :ci, :class => 'form-control' %>
              <% end %>
            </div>            
            <div class="medium-12 large-6 columns">
              <%= f.label :passport, :class => 'col-lg-2 control-label' %>
              <% if @patient.created_at.present? && current_user.rol < 3 %>
                <%= f.label @patient.passport, :class => 'form-control disabled-from' %>
              <% else %>
                <%= f.check_box :passport, :class => 'form-control' %>
              <% end %>
            </div>            
          </div>

          <div class="field form-group">
            <%= f.label :name, :class => 'col-lg-2 control-label required' %>
            <div class="col-lg-10">
              <% if @patient.created_at.present? && current_user.rol < 3%>
                <%= f.label @patient.name, :class => 'form-control disabled-from' %>
              <% else %>
                <%= f.text_field :name, :class => 'form-control' %>
              <% end %>
            </div>
          </div>

          <div class="field form-group">
            <%= f.label :last_name, :class => 'col-lg-2 control-label required' %>
            <div class="col-lg-10">
              <% if @patient.created_at.present? && current_user.rol < 3%>
                <%= f.label @patient.last_name, :class => 'form-control disabled-from' %>
              <% else %>
                <%= f.text_field :last_name, :class => 'form-control' %>
              <% end %>
            </div>
          </div>

          <div class="field form-group">
            <%= f.label :gener, :class => 'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <%= select_tag "[patient]gener", options_for_select(@geners, @patient.gener), :class => 'form-control', :include_blank => 'Selecionar un género'%>
            </div>        
          </div>

          
          <div class="field form-group">
            <%= f.label :direction, :class => 'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <%= f.text_area :direction, :class => 'form-control', rows: "5" %>
            </div>
          </div>
          
          

          <div class="button-actions">
            <%= f.submit "Guardar", :class => "success button from-button", data: { disable_with: "Por favor espera..." } %>
            <%= link_to 'Lista de Pacientes', patients_path, :class => "button from-button" %>    
          </div>
          
        </div>
      </div>


    </div>

    <div class="medium-12 large-6 columns">

      <div class="block">
        <div class="title-block">
          <h3>Información de contacto</h3>
        </div>

        <div class="content-block">
          <div class="field form-group">
            <%= f.label :age, "Edad" , :class => 'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <%= f.number_field :age, :step => 1, :oninvalid => "this.setCustomValidity('Por favor introduzca un número valiado, ejemplo: 29')", :oninput => "setCustomValidity('')" %>
            </div>
          </div>
          <div class="field form-group">
            <%= f.label :phone, "Teléfono" , :class => 'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <%= f.text_field :phone, :class => 'form-control' %>
            </div>
          </div>
          <div class="field form-group">
            <%= f.label :email, "Correo electrónico" , :class => 'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <%= f.email_field :email, :class => 'form-control', :oninvalid => "this.setCustomValidity('Por favor introduzca una dirección de correo eléctronico válida')", :oninput => "setCustomValidity('')" %>
            </div>
          </div>

          
        </div>
      </div>
    </div>

  </fieldset>
<% end %>




