<%- content_for :title, 'Todas los pacientes' %>
<div class="box row">
  <div class="medium-12 large-12 columns">
    <div class="block table">
      <div class="title-block">
        <h3>Lista de pacientes</h3>
        <div class="right-section">
          <a href=<%= new_patient_path %> class="small success button">Nuevo paciente</a>      
        </div>
      </div>
      <div class="content-block">
        <table class="responsive">
          <thead>
            <tr>
              <th>Nombre</th>
              <th class="date">Creado en</th>
              <th>CI/Pasaporte</th>
              <th>Genero</th>
              <th>Edad</th>
              <th>Teléfono</th>
              <th>Email</th>
              <th class="actions">Acciones</th>
            </tr>
          </thead>

          <tbody>
            <% @patients.each do |patient| %>
              <tr>
                <td><%= link_to patient.full_name, patient %></td>
                <td><%= patient.created_at.strftime(@date_format) %></td>
                <td><%= patient.ci %></td>
                <td><%= patient.gener_fullname %></td>
                <td><%= patient.age %></td>
                <td><%= patient.phone %></td>
                <td><%= patient.email %></td>
                <td>
                  <%= link_to 'Editar', edit_patient_path(patient), :class => "tiny button" %>
                  <%-if  current_user.rol > 1 %>
                    <%= link_to 'Eliminar', patient, method: :delete, data: { confirm: 'Esta seguro?' }, :class => "destroy tiny button" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8">
                <span class="total">
                  <%= @patients.count > 0 ? "Total : #{@patients.count}" : "Sin resultados" %>  
                </span>
                <%= paginate @patients %>  
              </td>
            </tr>
            
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>


