<div class="box row">
  <div class="medium-12 large-12 columns">
    <div class="block">
      <div class="title-block">
        <h3>Información del paciente</h3>
      </div>
      
      <div class="content-block">
        
        
        <p>
          <strong>CI/Pasaporte:</strong>
          <%= @patient.ci %>
        </p>

        <p>
          <strong>Nombre:</strong>
          <%= @patient.full_name %>
        </p>

        <p>
          <strong>Género:</strong>
          <%= @patient.gener_fullname %>
        </p>

        <p>
          <strong>Dirección:</strong>
          <%= @patient.direction %>
        </p>

        <p>
          <strong>Edad:</strong>
          <%= @patient.age %>
        </p>

        <p>
          <strong>Teléfono:</strong>
          <%= @patient.phone %>
        </p>

        <p>
          <strong>Correo electrónico:</strong>
          <%= @patient.email %>
        </p>


        <div class="button-actions">
          <%= link_to 'Editar', edit_patient_path(@patient), :class => "from-button success button" %> 
          <%= link_to 'Lista de pacientes', patients_path, :class => "from-button button" %>
        </div>
      </div>
    </div>
  </div>  
</div>

