<%- content_for :title, 'Iniciar Sesión' %>

<div class="box row">
  <div class="medium-12 large-12 columns">
    <%- if params[:controller] == "devise/sessions" %>
      <%- if notice  %>
        <p id="notice" class="sessions"><%= notice %></p>
      <%- end %>
      <%- if alert  %>
        <p id="alert" class="sessions"><%= alert %></p>
      <%- end %>
    <%- end %>
    <div class="block user">
      <div class="title-block">
        <h3>Iniciar Sesión</h3>
      </div>
      <div class="content-block">
        <div class="row">
          <div class="medium-6 large-6 columns">
            <div class="account-wall">
                <!-- <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt=""> -->

              <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => "form-signin") do |f| %>
                <div class="field">
                  <%= f.label :login, "Nombre usuario" %><br />
                  <%= f.text_field :login, autofocus: true, :class => "form-control", :oninput => "setCustomValidity('')" %>
                </div>

                <div class="field">
                  <%= f.label :password, "Clave" %><br />
                  <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
                </div>

                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me , "Recordarme?"%>
                  </div>
                <% end -%>

                <div class="actions">
                  <%= f.submit "Iniciar sesión", :class => "from-button success button" %>
                </div>
              <% end %>
             </div>
            <!-- <a href="#" class="text-center new-account">Create an account </a> -->
          </div>
          <div class="medium-1 large-1 columns"></div>
          <div class="medium-5 large-5 columns">
            <i>Si tienes problemas para iniciar sesion, contactate con el Admisitrador del Sistema</i>
            <br>
            <br>
            <!-- 
            <%= render "devise/shared/links" %>        
             -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


