<%- content_for :title, 'Lista de doctores'%>

<div class="box row">
  <div class="medium-12 large-12 columns">
    <div class="block table">
      <div class="title-block">
        <h3>Lista de doctores</h3>
        <div class="right-section">      
          <%= link_to 'Nuevo doctor', new_doctor_path, :class => "small success button" %>
        </div>
      </div>
      <div class="content-block">
        <table class="responsive">
          <thead>
            <tr>
              <th>Nombre doctor</th>
              <th>Nombre usuario</th>
              <th>Correo eletrónico</th>
              <th>Teléfono</th>
              <th class="date">Creado en</th>
              <% if Doctor.can_edit(current_user) %>
                <th class="actions">Acciones</th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @doctors.each do |doctor| %>
              <tr>
                <td><%= link_to doctor.name, doctor  %></td>
                <td><%= doctor.login %></td>
                <td><%= doctor.email %></td>
                <td><%= doctor.phone %></td>
                <td><%= doctor.created_at.strftime(@date_format) %></td>
                <% if Doctor.can_edit(current_user) %>
                  <td>
                    <%= link_to 'Editar', edit_doctor_path(doctor), :class => "tiny button" %>
                    <%= link_to 'Eliminar', doctor, method: :delete, data: { confirm: 'Esta seguro?' }, :class => "tiny button destroy" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8">
                <span class="total">
                  <%= @doctors.count > 0 ? "Total : #{@doctors.count}" : "Sin resultados" %>  
                </span>
                <%= paginate @doctors %>  
              </td>
            </tr>
            
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  
</div>


