<div class="box row">
  <div class="medium-12 large-12 columns">
    <div class="block">
      <div class="title-block">
        <h3>Información de doctor</h3>
      </div>
      
      <div class="content-block">
        
        <h4>Información de doctor</h4>
        <hr/>
        <p>
          <strong>Nombre médico:</strong>
          <%= @doctor.name %>
        </p>

        <p>
          <strong>Nombre usuario:</strong>
          <%= @doctor.login %>
        </p>

        <p>
          <strong>Correo electrónico:</strong>
          <%= @doctor.email %>
        </p>

        <p>
          <strong>Teléfono:</strong>
          <%= @doctor.phone %>
        </p>

        <p>
          <strong>Especialidad:</strong>
          <%= @doctor.speciality %>
        </p>


        <div class="button-actions">
          <%= link_to 'Editar', edit_doctor_path(@doctor), :class => "from-button success button" %> 
          <%= link_to 'Lista de doctores', doctors_path, :class => "from-button button" %>
        </div>
      </div>
    </div>
  </div>

  
</div>
