<%- content_for :title, 'Lista de recepcionistas'%>

<div class="box row">
  <div class="medium-12 large-12 columns">
    <div class="block table">
      <div class="title-block">
        <h3>Lista de recepcionistas</h3>
        <div class="right-section">      
          <%= link_to 'Nuevo receptionista', new_receptionist_path, :class => "small success button" %>
        </div>
      </div>
      <div class="content-block">
        <table class="responsive">
          <thead>
            <tr>
              <th>Nombre receptionista</th>
              <th>Nombre usuario</th>
              <th>Correo eletrónico</th>
              <th>Teléfono</th>
              <th class="date">Creado en</th>
              <% if Receptionist.can_edit(current_user) %>
                <th class="actions">Acciones</th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @receptionists.each do |receptionist| %>
              <tr>
                <td><%= link_to receptionist.name, receptionist  %></td>
                <td><%= receptionist.login %></td>
                <td><%= receptionist.email %></td>
                <td><%= receptionist.phone %></td>
                <td><%= receptionist.created_at.strftime(@date_format) %></td>
                <% if Receptionist.can_edit(current_user) %>
                  <td>
                    <%= link_to 'Editar', edit_receptionist_path(receptionist), :class => "tiny button" %>
                    <%= link_to 'Eliminar', receptionist, method: :delete, data: { confirm: 'Esta seguro?' }, :class => "tiny button destroy" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8">
                <span class="total">
                  <%= @receptionists.count > 0 ? "Total : #{@receptionists.count}" : "Sin resultados" %>  
                </span>
                <%= paginate @receptionists %>  
              </td>
            </tr>
            
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  
</div>


