<div class="box row">
  <div class="medium-12 large-12 columns">
    <div class="block">
      <div class="title-block">
        <h3>Información de recepcionista</h3>
      </div>
      
      <div class="content-block">
        
        <h4>Información de recepcionista</h4>
        <hr/>
        <p>
          <strong>Nombre médico:</strong>
          <%= @receptionist.name %>
        </p>

        <p>
          <strong>Nombre usuario:</strong>
          <%= @receptionist.login %>
        </p>

        <p>
          <strong>Correo electrónico:</strong>
          <%= @receptionist.email %>
        </p>

        <p>
          <strong>Teléfono:</strong>
          <%= @receptionist.phone %>
        </p>


        <div class="button-actions">
          <%= link_to 'Editar', edit_receptionist_path(@receptionist), :class => "from-button success button" %> 
          <%= link_to 'Lista de recepcionistas', receptionists_path, :class => "from-button button" %>
        </div>
      </div>
    </div>
  </div>

  
</div>
