/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
//= require foundation_and_overrides

 */

$background-color: #eee;
$text-color: rgba(0,0,0,0.54);
$text-color-black: rgba(0,0,0,0.87);
$box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
$block-border: 1px solid rgba(0,0,0,.12);
$color-active: rgb(3,155,229);

$color-block: #F2F6FA;
$pending-text-color: #4F627B;
$link-color: #337ab7;
$approved: #6CBC31;
$pending: #EE7563;
$rejected: #E4EAF3;

$grey: #d8d8d8;
$green: #5cb85c;
$green-border: 1px solid #4cae4c;

body{
  background-image: url(/images/body-bg.png);
  font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.clear{
  clear: both;
}
.disabled-from{
  font-weight: bold;
}
a{
  color: $link-color;
  &:hover{
    color: $pending-text-color;
  }
}
.gray-text-color{
  color: $text-color;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.button{
  border-radius: 3px; 
  padding: 5px 5px;
  margin: 0px;
}
.disabled{
  pointer-events: none;
}
.button{
  font-size: 11px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #88bbc8;
  background-image: -moz-linear-gradient(top,#88bbc8,#88bbc8);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#88bbc8),to(#88bbc8));
  background-image: -webkit-linear-gradient(top,#88bbc8,#88bbc8);
  background-image: -o-linear-gradient(top,#88bbc8,#88bbc8);
  background-image: linear-gradient(to bottom,#88bbc8,#88bbc8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff88bbc8',endColorstr='#ff88bbc8',GradientType=0);
  border-color: #88bbc8 #88bbc8 #549db0;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  &.destroy{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #f2b154;
    background-image: -moz-linear-gradient(top,#f2b154,#f2b154);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2b154),to(#f2b154));
    background-image: -webkit-linear-gradient(top,#f2b154,#f2b154);
    background-image: -o-linear-gradient(top,#f2b154,#f2b154);
    background-image: linear-gradient(to bottom,#f2b154,#f2b154);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2b154',endColorstr='#fff2b154',GradientType=0);
    border-color: #f2b154 #f2b154 #e89012;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  &.success{
    background-color: #8fa76b;
    background-image: -moz-linear-gradient(top,#8fa76b,#8fa76b);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#8fa76b),to(#8fa76b));
    background-image: -webkit-linear-gradient(top,#8fa76b,#8fa76b);
    background-image: -o-linear-gradient(top,#8fa76b,#8fa76b);
    background-image: linear-gradient(to bottom,#8fa76b,#8fa76b);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8fa76b',endColorstr='#ff8fa76b',GradientType=0);
    border-color: #8fa76b #8fa76b #687c4a;
  }
  &.from-button{
    font-size: 14px;
    padding: 5px 15px;
  }
}
.required:after {
  content: "*";
  color: $pending;
}
// Top Bar
.top-bar{
  background-image: url(/images/header-bg.png);
  background-color: #000;
  color: white;
  box-shadow: $box-shadow;
  padding: 3px 0px;
  .top-container{
    width: 1170px;
    margin: 0 auto;
  }
  .top-bar-title{
    padding: 8px; 
    a{
      color: white;
    }
  }
  ul{
    background: transparent;
  }

  .dropdown.menu{
    a{
      background: rgba(250,250,250,.12);
      margin-left: 5px;
      color: white;
      font-weight: 700;
      font-size: 11px;
      &:hover{
        background: rgba(200,200,200,.32);
      }
    }  
  }
  
}
// nav
#nav {
  margin: 24px auto;
  margin-bottom: 0px;
  width: 1170px;
  .navbar-inner {
    background-image: url(/images/header-bg.png);
    background-color: #000;
    padding-left: 0;
    padding-right: 0;
    border-radius: 4px 4px 0px 0px;
    &:after {
      clear: both;
    }
    .nav {
      position: relative;
      left: 0;
      display: block;
      float: left;
      margin: 0 10px 0 0;
      &> li {
        border-right: 1px solid #404040;
        box-shadow: 1px 0 0 #212121;
        float: left;
        list-style: none;
        &> a{
          padding: 15px 20px;
          display: block;
        }
        &:first-child{
          a{
            border-radius: 4px 0px 0px 0px;
          }
        }
      }
      a{
        width: 100%;
        padding-left: 45px !important;
        background-position-y: 15px;
        background-repeat: no-repeat;
        background-size: 18px;
        background-position-x: 15px;
        color: #fff;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s;
        text-shadow: 0 1px 2px black;
        font-weight: 700;
        font-size: 12px;
        &:hover{
          color: $link-color;
          box-shadow: inset 0 1px 5px rgba(0,0,0,8),0 1px 0 rgba(255,255,255,1);
        }
        &.dashboard{
          background-image: url(/images/dashboard.png);
        }
        &.quotation{
          background-image: url(/images/quotation.png);
        }
        &.company{
          background-image: url(/images/company.png);
        }
        &.exam{
          background-image: url(/images/exam.png); 
        }
        &.tube{
          background-image: url(/images/tube.png); 
        }
        &.patient{
          background-image: url(/images/patient.png); 
        }
        &.active{
          color: $link-color;
        }
      }
    }
    .navbar-search{ 
      float: right;
      .search-query {
        margin-top: 1px;
        padding: 4px 10px;
        text-shadow: 0 1px 0 #000;
        -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,3.4),0 1px 0 rgba(255,255,255,0.1);
        -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,3.4),0 1px 0 rgba(255,255,255,0.1);
        box-shadow: inset 0 1px 5px rgba(0,0,0,3.4),0 1px 0 rgba(255,255,255,0.1);
        outline: 0;
        border: 0;
        border-radius: 5px;
        width: 150px;
        color: #5d5d5d;
        margin-top: 0;
        margin: 10px 20px 10px 0;
        background-color: #000;
        height: 28px;
        font-size: 1em;
      }
    }
  }
}
#main_content{
  width: 1170px;
  margin: 0 auto;
  min-height: 100vh;
  .block{
    border-radius: 3px;
    background: #fff;
    margin-top: 0px;
    margin-bottom: 24px;
    .title-block{
      padding: 10px 20px 10px 20px;
      border-bottom: $block-border;
      // margin-bottom: 15px;
      background-image: url(/images/header-bg.png);
      background-color: #000;
      border-radius: 5px 5px 0 0;
      display: flex;
      &.error{
        background-color: #ec5840;
        h3{
          color: white;
          font-size: 14px;
          font-weight: bold;
          text-shadow: initial;
        }
      }
      h3{
        font-size: 1em;
        line-height: 18px;
        font-weight: normal;
        color: white;
        margin: 0;
        text-shadow: 0 1px 0 black;
        width: 70%; 
      }
      .right-section{
        width: 30%;
        text-align: right;
        a{
          font-size: 11px;
          padding: 2px 10px;
        }
      }
    }
    .content-block{
      font-size: 12px;
      margin-bottom: 15px;
      border-radius: 3px;
      overflow: hidden;
      padding: 20px;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
      label{
        font-size: 12px;
      }
      .columns{
        .row{
          margin-bottom: 5px;
          &:last-child{
            margin-bottom: 0px;
          }
          .rigth{
            text-align: right;
          }
        }
      }
      h3.description{
        font-size: 16px;
        color: $text-color;
        font-weight: 700;
        margin: 0.5rem 0px;
      }
      .button-actions{

      }
      ul.list-error{
        margin-bottom: 0px;
      }
      .border-bottom{
        border-bottom: 1px solid $background-color;
        padding-bottom: 5px
      }
    }
    &.pending{
      .color-grey{
        color: $text-color;
      }
      .title-block{
        margin-bottom: 0px;
      }
      .content-block{
        margin-bottom: 0px;
        color: #686868;
        border-radius: 0px;
        a.description, strong{
          font-size: 14px;
        }
        &.approved{
          // border-left: 3px solid $approved;
          .row.desc{
            background-color: $approved;  
            h3.description{
              color: white;
            }
          }
        }
        &.pending{
          // border-left: 3px solid $pending;
          .row.desc{
            background-color: $pending;  
            h3.description{
              color: white;
            }
          }
        }
        &.rejected{
          border-left: 3px solid $rejected;
          .row.desc{
            background-color: $rejected;  
            h3.description{
              color: white;
            }
          }
        }
        .row.info{
          border-radius: 3px;
          color: #888;
          font-size: 11px;
          margin-top: 10px;
          strong{
            font-size: 11px;
          }
          .tiny.button{
            width: 100%;
          }
        }
      }
    }
    &.table{
      padding: 0;
      .title-block{
        margin-bottom: 0;
      }
      .content-block{
        padding: 0;
      }
      table{
        margin-bottom: 0;
      }
    }
    &.user{
      max-width: 768px;
      margin: 25px auto;

    }
  }
}
.main-title{
  margin-bottom: 24px;
  padding: 12px 15px;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  h1{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    color: #555;
    height: 45px;
    vertical-align: middle;
    display: table-cell;
  }
}
.second-title{
  margin: 20px;
}

.search{
  background-color: #f3f3f3;
  padding: 10px;
  border-bottom: 1px solid #e3e3e3;
  form{
    width: 100%;
    max-width: 100%;
    .field{
      width: 100%;
      margin-bottom: 0px;
    }
    .form-control, .btn{
    float: left;
    }  
    .form-control{
      width: 80%;
    }
    .btn{
      width: 18%;
      margin-left: 2%;
    }

    
  }
  
}
a:hover {
 	background-color: transparent;
}
// a:visited {
//   color: inherit;
// }
form{
  legend{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;  
  }
}
.company-info{

  .title{
    margin-bottom: 5px;
    font-weight: 700; 
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }
  label{
    font-weight: 600;
    font-size: 12px;
  }
}
.quotation-info{
  .title{
    margin-bottom: 5px;
    font-weight: 700; 
    padding-bottom: 10px;
  }
  .title-midle{
    font-weight: 700; 
    
    padding: 10px 0px;
  }
  .links{
    a{
      margin-bottom: 0px;
    }
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .q-item{
    background: #eee;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    .q-item-select{
      margin-bottom: 10px;
      font-size: 12px;
      height: 30px;
    }
    .remove_fields{
      width: 100%;
      text-align: right;
      display: block;
    }
    input{
      margin-bottom: 5px;
      height: 20px;
      font-size: 14px;
      padding: 3px;
    }
  }
}
.field_with_errors {
    padding: 0px !important;
    background-color: transparent!important;
    display: block!important;
}
#error_explanation {
    width: 100% !important;
    border: 0 !important;
}

#error_explanation h2{
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
#notice, #alert{
  
  padding: 5px 5px 5px 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #c5deb8;
  border-color: none;
  color: #5e6c56;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),0 2px 4px rgba(0,0,0,0.08),inset 0 -1px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),0 2px 4px rgba(0,0,0,0.08),inset 0 -1px 0 rgba(0,0,0,0.25);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),0 2px 4px rgba(0,0,0,0.08),inset 0 -1px 0 rgba(0,0,0,0.25);
  background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%);
  background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%);
  background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%);
  background-image: linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%);
  &.sessions{
    max-width: 768px;
    margin: 25px auto;
  }
}
#notice{
  color: #3c763d;
  background-color: #dff0d8;
}
#alert{
  color: rgb(244,67,54);
  background-color: rgb(255,205,210);
}
.login-border{
    border: 1px solid #e6e6e6;
    background: #fff;
}
// Table styles
.box {
  height: 100%;
  margin: 0px 0px 20px 0px;
}
.table{ 
  font-size: 12px !important;
  margin-bottom: 0px;
  th {
    padding: 8px 0px 8px 20px !important;
    border-bottom: solid 1px #d2d1cb !important;
    &:last-child{
      padding: 8px 20px 8px 20px !important;
    }
    a{
      color: #0682ca;  
      text-align: left;
      font-size: 12px !important;
    }
  }
  td {
    border-bottom: solid 1px #e0e0e0;
    padding: 8px 0px 8px 20px !important;
    font-size: 12px;
    &:last-child{
      padding: 8px 20px 8px 10px !important;
    }
    a.button{
      margin: 0;
      font-size: 11px;
      border-radius: 3px;
    }

  }
  // tr.warning td{
  //   background-color: #f0ad4e !important;
  // }
  // tr.success td{
  //   background-color: #5cb85c !important;
  // }
}
table{
  thead{
    th.actions{
      min-width: 140px;
    } 
    th.date{
      min-width: 105px;
    }
    th{
      font-weight: bold;
      background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.05) 0,rgba(255,255,255,0.05) 100%);
      background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.05) 0,rgba(255,255,255,0.05) 100%);
      background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.05) 0,rgba(255,255,255,0.05) 100%);
      background-image: linear-gradient(bottom,rgba(0,0,0,0.05) 0,rgba(255,255,255,0.05) 100%);
      color: #949494;
      border-bottom: 1px solid #c2c2c2;
      -webkit-box-shadow: 0 2px 0 #fff;
      -moz-box-shadow: 0 2px 0 #fff;
      box-shadow: 0 2px 0 #fff;
    }  
  }
  tbody{
    tr{
      td{
        .tiny.button{
          width: 48%;
        }
      }
    }
    tr:nth-child(even) {
      background-color: whitesmoke;
    }
  }
  tfoot td {
    padding: 0;
  }
}



table.responsive { 
  border-collapse: inherit;
  thead, tfoot {
    color: #8f8f8f;
  }
  thead{
    tr{
      // th:first-child{
      //   border-radius: 3px 0 0 0;
      // }
      // th:last-child{
      //   border-radius: 0 3px 0 0; 
      // }
    }
  }
}

table.responsive thead th { font-weight: 600; }
table.responsive thead th, table.responsive tbody td { 
  padding: .8rem;
}
table.responsive tbody td { 
  padding: .8rem;
  color: #444;
}
table.responsive tbody tr:not(:last-child) { 
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;  
}

@media screen and (max-width: 1170px) {
  #nav, #main_content, .top-bar .top-container{
    width: 100%;
  }
}


@media screen and (max-width: 800px) {
  table.responsive caption { background-image: none; }
  table.responsive thead { display: none; }
  table.responsive tbody td { 
    display: block; padding: .6rem; 
    .tiny.button {
      width: inherit;
      margin-bottom: 0;
    }
  }
  table.responsive tbody tr td:first-child { 
    font-weight: bold;
    background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.05) 0,rgba(255,255,255,0.05) 100%);
    background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.05) 0,rgba(255,255,255,0.05) 100%);
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.05) 0,rgba(255,255,255,0.05) 100%);
    background-image: linear-gradient(bottom,rgba(0,0,0,0.05) 0,rgba(255,255,255,0.05) 100%);
    color: #949494;
    border-bottom: 1px solid #c2c2c2;
    -webkit-box-shadow: 0 2px 0 #fff;
    -moz-box-shadow: 0 2px 0 #fff;
    box-shadow: 0 2px 0 #fff;
  }
  table.responsive tbody td:before { 
    content: attr(data-th); 
    font-weight: bold;
    display: inline-block;
    width: 30%;  
  }
  #nav{ 
    .navbar-inner{
      .nav{
        width: 100%;
        border-bottom: 1px solid #404040;
        > li{
          width: 25%;
          box-shadow: none;
          > a{
            text-indent: -999999px;
            background-position-x: 50%;
            padding: 15px 20px !important;
            &.active{
              box-shadow: inset 0 1px 5px rgba(0,0,0,8),0 1px 0 $link-color;
            }
          }
        }
      }
      .navbar-search {
        width: 100%;
        padding: 3px 10px;
        .search-query{
          width: 100%;
        }
      }
    }
  }
  .button-actions{
    a{
      width: 48%;
      float: left;
      margin-right: 2%;
      margin-bottom: 2%;
    }
  }
}
@media screen and (max-width: 800px) and (orientation:landscape) {
  .button-actions{
    a{
      width: 31%;
      float: left;
      margin-right: 2%;
      margin-bottom: 2%;
    }
  }
}

.pagination {
  float: right;
  margin: 0px 0px;
  span{
    float: left;
    margin-left: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    a {
      font-size: 11px;
      color: #337ab7;
      text-decoration: none;
      background-color: #f3f3f3;
      &:hover{
        color: #23527c;
        background-color: #eee;
        border-color: #ddd;
      }
    }
  }
  
  .current{
    font-size: 12px;
    color: #333;
    padding: 3px 10px;
    background: transparent;
  }
}
#user-info{
  width: 20%;
  float: left;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  a{
    font-size: 11px;
  }
  .user_rol{
    padding: 10px 10px 10px 10px;
    background-image: url(/images/header-bg.png);
    background-color: #000;
    color: white;
    box-shadow: $box-shadow;
  }
  .count_pending{
    float: right;
    background: $pending;
    border: $block-border;
    padding: 0px 3px;
    border-radius: 3px;
    a{
      color: white;
      font-size: 12px;
    }
  }
  .user_info{
    margin: 10px 0px;
    .user_image{
      width: 24px;
      height: 24px;
      overflow: hidden;
      background-image: url(/images/user.png);
      margin-left: 10px;
      margin-right: 10px;
      float: left;
    }
    .user_name{
      color: $text-color;
      margin-right: 10px;
      font-size: 11px;
      padding: 2px 0px;
    }
    .user_rol_text{
      color: $text-color;
      margin-right: 10px;
      margin-left: 45px;
      font-size: 10px;
      padding: 2px 0px;
    }
  }
  
  .container-user-info{
    padding: 0px 0px 10px 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    margin-bottom: 15px;
  }
  .session_links{
    text-align: right;
  }
  .title-actions{
    padding: 10px 10px 10px 10px;
    background-image: url(/images/header-bg.png);
    background-color: #000;
    color: white;
    box-shadow: $box-shadow;
  }
  .container-actions{
    padding: 10px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    
  }
}
.user-filter{
  align-items: center;
  display: flex;
  margin-bottom: 10px;

  .columns{
    padding: 0px;
    label{
      font-weight: 700;  
    }
  } 
  select{
    margin-bottom: 0px;
  }
}
#footer{
  text-align: center;
  padding: 48px 0;
  margin-top: 72px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  border-top: 1px solid #bebebe;
  -webkit-box-shadow: inset 0 -1px 0 #fff;
  -moz-box-shadow: inset 0 -1px 0 #fff;
  box-shadow: inset 0 -1px 0 #fff;
}
.control-group {
  padding: 12px 20px;
  margin-bottom: 0;
  border-bottom: 1px solid #c2c2c2;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
  background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%);
  background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%);
  background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%);
  background-image: linear-gradient(bottom,rgba(0,0,0,0.01) 0,rgba(255,255,255,0.01) 100%);
  background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.03) 0,rgba(255,255,255,0.03) 100%);
  background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.03) 0,rgba(255,255,255,0.03) 100%);
  background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.03) 0,rgba(255,255,255,0.03) 100%);
  background-image: linear-gradient(bottom,rgba(0,0,0,0.03) 0,rgba(255,255,255,0.03) 100%);

  select{
    border-color: #cecece;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 3px 5px;
    height: auto;
  }
}
span.total{
  padding: 4px 0px;
  display: block;
  float: left;
}
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  height: 30px;
  padding: 5px;
}
.label_search, .label_select{
  line-height: 30px;
  float: right;
}
#myInput {
  background-image: url('/images/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 4px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  height:auto;
  max-height: 258px;
  overflow-y: scroll;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
