<div class="box row">
  <div class="medium-12 large-12 columns">
    <div class="block">
      <div class="title-block">
        <h3>Informacion de empresa</h3>
      </div>
      
      <div class="content-block">
				<p>
				  <strong>Código:</strong>
				  <%= @exam.code %>
				</p>

				<p>
				  <strong>Nombre:</strong>
				  <%= @exam.name %>
				</p>

				<p>
				  <strong>Tubo:</strong>
				  <%= @exam.tube.full_name if @exam.tube %>
				</p>


				<p>
				  <strong>Activado?:</strong>
				  <%= @exam.activated ? "Si" : "No"%>
				</p>
				<div class="button-actions">
					<% if Exam.can_edit(current_user) %>
						<%= link_to 'Editar', edit_exam_path(@exam),:class => "from-button success button" %> 
					<% end %>
					<%= link_to 'Lista de exámenes', exams_path,:class => "from-button button" %>					
				</div>
			</div>
		</div>
	</div>

</div>


